Django==1.4
Fabric==1.3.4
South==0.7.6
progpac/language/run_time/
argparse==1.2.1
boto==2.5.2
dj-database-url==0.2.1
django-appconf==0.5
django-compressor==1.2
django-staticfiles==1.2.1
django-storages==1.1.5
gunicorn==0.14.6
ipdb==0.6.1
ipython==0.13
newrelic==1.5.0.103
psycopg2==2.4.5
pycrypto==2.6
python-dateutil==2.1
raven==2.0.6
six==1.1.0
ssh==1.7.14
wsgiref==0.1.2
