{% extends "base_bar.html" %}

{% block content %}
<div id="credits" class="container content">

  <div class="hero-unit">
    <h1>
      <img src="{{ STATIC_URL }}assets/guy_front.png">
      About
    </h1>

    <dl class="dl-horizontal">
      <dt class="author">Author</dt>
      <dd class="author">Sebastian Pawluś (<a href="https://github.com/xando">xando</a>)</dd>

      <dt style="margin-top:10px">Contact</dt>
      <dd style="margin-top:10px">
      </dd>

      
      <dt style="margin-top:20px">Special Thanks</dt>
      <dd style="margin-top:20px"><a href="http://100shapes.com">100shapes.com</a></dd>
      <dd><a href="https://github.com/jqb">jqb</a></dd>
      <dd><a href="https://github.com/spenoir">spenoir</a></dd>
      <dd><a href="http://twitter.com/WillsB3">@WillsB3</a></dd>
      <dd><a href="http://twitter.com/@_owad">@_owad</a></dd>
      <dd>
	<a href="http://www.lostgarden.com/2007/05/dancs-miraculously-flexible-game.html">Daniel Cook</a>
	for tiles
      </dd>
      <dd>
	<a href="http://www.limejs.com/">LimeJS</a> for game framework
      </dd>

    </dl>

    <p>
      Game created as a remake of Herbert game, which was originally developed by
      <a href="http://wildnoodle.com/UI/Individuals/guesthome.aspx">wildnoodle</a>.
    </p>
    <p>
      Please contact me 
      <a href="mailto:progpac.com@gmail.com">progpac.com@gmail.com</a> or to simply create an issue or leave an idea go <a href="https://github.com/xando/progpac/issues">here</a> 
      or maybe send a tweet
      <a href="https://twitter.com/intent/tweet?screen_name=progpac" class="twitter-mention-button">
	Tweet to @progpac
      </a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </p>

  </div>

</div>
{% endblock %}
