{% extends "base_bar.html" %}

{% block content %}
<div id="credits" class="container content">

  <div class="hero-unit">
    <h1>
      <img src="{{ STATIC_URL }}assets/guy_front.png">
      Credits
    </h1>

    <dl class="dl-horizontal">
      <dt class="author">Author</dt>
      <dd class="author">Sebastian Pawluś (<a href="https://github.com/xando">xando</a>)</dd>

      <dt style="margin-top:10px">Contact</dt>
      <dd style="margin-top:10px"><a href="mailto:progpac.com@gmail.com">progpac.com@gmail.com</a> or to simply create an issue or leave an idea go <a href="https://github.com/xando/progpac/issues">here</a></dd>

      
      <dt style="margin-top:20px">Special Thanks</dt>
      <dd style="margin-top:20px"><a href="http://100shapes.com">100shapes.com</a></dd>
      <dd><a href="https://github.com/jqb">jqb</a></dd>
      <dd><a href="https://github.com/spenoir">spenoir</a></dd>
      <dd><a href="http://twitter.com/WillsB3">@WillsB3</a></dd>
      <dd><a href="http://twitter.com/@_owad">@_owad</a></dd>
      <dd>
	<a href="http://www.lostgarden.com/2007/05/dancs-miraculously-flexible-game.html">Daniel Cook</a>
	for tiles
      </dd>
      <dd>
	<a href="http://www.limejs.com/">LimeJS</a> for game framework
      </dd>
      <!-- <dd class="author">Sebastian Pawluś (<a href="https://github.com/xando">xando</a>)</dd> -->

      <!-- <dt>Contact</dt> -->

    </dl>

    <em>
      Game created as a remake of Herbert game, which was originally developed by
      <a href="http://wildnoodle.com/UI/Individuals/guesthome.aspx">wildnoodle</a>.
    </em>

  </div>

</div>
{% endblock %}
