{% extends "base_bar.html" %}

{% block content %}
<div id="credits" class="container content">

  <div class="hero-unit">
    <h1>
      <img src="{{ STATIC_URL }}assets/guy_front.png">
      Credits
    </h1>

    <dl class="dl-horizontal">
      <dt class="author">Author</dt>
      <dd class="author">Sebastian Pawluś (<a href="https://github.com/xando">xando</a>)</dd>
      <dt>Special Thanks</dt>
      <dd><a href="http://100shapes.com">100shapes.com</a></dd>
      <dd><a href="https://github.com/jqb">jqb</a></dd>
      <dd><a href="https://github.com/spenoir">spenoir</a></dd>
      <dd><a href="http://twitter.com/WillsB3">@WillsB3</a></dd>
      <dd><a href="http://twitter.com/@_owad">@_owad</a></dd>
      <dd>
	<a href="http://www.lostgarden.com/2007/05/dancs-miraculously-flexible-game.html">Daniel Cook</a>
	for tiles
      </dd>
      <dd>
	<a href="http://www.limejs.com/">LimeJS</a> for game framework
      </dd>
    </dl>

    <em>
      Game created as a remake of Herbert game, which was originally developed by
      <a href="http://wildnoodle.com/UI/Individuals/guesthome.aspx">wildnoodle</a>.
    </em>

  </div>

</div>
{% endblock %}




